<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpellChecker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 

    <style type="text/css">
        body {
            background-image: url('https://static.vecteezy.com/system/resources/previews/000/602/518/original/vector-buildings-silhouette-cityscape-background-modern-architecture-urban-city-landscape.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

   
</head>

<body>

    <div class="lang_switcher">
        <div size="+3" class="text-left">
            <button id="en" size="+3" class="lang">ENGLISH</button>
            <button id="ir" class="lang">Gaeilge</button>
        </div>
    </div>
</body
  </html>
